.chat {
    .panel {
        .panel-body {
            overflow-y: scroll;
            height: 300px;
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    margin-bottom: 10px;
                    padding-bottom: 5px;
                    border-bottom: 1px dotted #B3A9A9;
                }
                li.left .chat-body {
                    margin-left: 60px;
                }
                li.right .chat-body {
                    margin-right: 60px;
                }
                li .chat-body p {
                    margin: 0;
                    color: #777777;
                }
            }
        }

        input.username {
            width: 150px;
            color: black;
        }
        select {
            color: black;
            margin-right: 10px;
        }
    }
}
.add-chat {
    .panel {
        height: 400px;
        background: #ddd;
        cursor: pointer;
        &:hover {
            background: #ccc;
        }
        &:after {
            content: "Add new chat";
            display: block;
            position: absolute;
            text-align: center;
            width: 100%;
            color: #959595;
            font-size: 2em;
            top: 50%;
            margin-top: -0.5em;
            line-height: 1;
            height: 1em;
            font-weight: 100;
        }
    }
}