@(pageTitle: String, id: Option[String], userForm: Form[models.User], profiles: Seq[(String, String)])

@import helper._
@import helpers.bs3.form._

@admin.main(pageTitle, "user") {
	<div class="row">
		<div class="col-md-12 card-black">
			<h2>@if(!id.isDefined) { Create } else { Edit } user profile</h2>
			@helper.form(if(!id.isDefined) routes.UserCrud.create else routes.UserCrud.update(id.get), 'class -> "form-horizontal") {
				@bs3Hidden(userForm("id"))
				@bs3Text(userForm("name"), label="Name", horizontal=true)
				
				@bs3Text(userForm("profile")("id"), label="Profile Id", horizontal=true)
				@bs3Text(userForm("profile")("name"), label="Profile Name", horizontal=true)
				@*@bs3Select(userForm("profile")("id"), label="Profile", options=profiles, horizontal=true)*@
				
				@bs3Text(userForm("mail"), label="Mail", horizontal=true)
				@bs3Password(userForm("password"), label="Password", horizontal=true)
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
			            <a href="@routes.UserCrud.index" class="btn btn-default">@if(!id.isDefined) { Cancel } else { Return }</a>
			            <button type="submit" class="btn btn-primary">@if(!id.isDefined) { Create } else { Update } profile</button>
					</div>
		        </div>
			}
		</div>
	</div>
}