<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item" ng-class="{active:isActive('/home')}" ui-sref="root.home">Home</a>
            <a class="blog-nav-item" ng-class="{active:isActive('/users1')}" ui-sref="root.users1">Users 1</a>
            <a class="blog-nav-item" ng-class="{active:isActive('/users2')}" ui-sref="root.users2">Users 2</a>
            <a class="blog-nav-item" ng-class="{active:isActive('/crud.*')}" ui-sref="root.crud.all">CRUD</a>
            <a class="blog-nav-item" ng-class="{active:isActive('/chat')}" ui-sref="root.chat">Chat</a>
        </nav>
    </div>
</div>

<div class="container">
    <ui-view></ui-view>
</div><!-- /.container -->
